
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]/uilds
[Ll]/ogs
[Uu]ser[Ss]ettings/

Temp/UnityLockfile
Logs/AssetImportWorker0.log
Library/SourceAssetDB
Library/ArtifactDB
Library/SourceAssetDB
Library/SourceAssetDB
Logs/AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Library/ArtifactDB
Library/SourceAssetDB
Logs/AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Library/ArtifactDB
Library/SourceAssetDB
Logs/AssetImportWorker0.log
Logs/AssetImportWorker0.log
Library/ArtifactDB
Library/CurrentMaximizeLayout.dwlt
Library/SceneVisibilityState.asset
Library/StateCache/MainStageHierarchy/19/19d805018d40004cbf4fcb1c6eac2d17.json
Library/StateCache/SceneView/fc/fc01b909adf031a978a1c23b08114814.json
Temp/__Backupscenes/0.backup
Library/ArtifactDB
*.log
Library/Artifacts/69/69c0e9d18c151f5ad14ebd1fa9411ed7
Library/Artifacts/69/69c0e9d18c151f5ad14ebd1fa9411ed7
Library/Artifacts/69/69c0e9d18c151f5ad14ebd1fa9411ed7
Library/Artifacts/69/69c0e9d18c151f5ad14ebd1fa9411ed7
Library/Artifacts/69/69c0e9d18c151f5ad14ebd1fa9411ed7
Library/Artifacts/69/69c0e9d18c151f5ad14ebd1fa9411ed7
Library/ArtifactDB
Library/SourceAssetDB
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
