
Temp/UnityLockfile
Logs/AssetImportWorker0.log
Library/SourceAssetDB
Library/ArtifactDB
Library/SourceAssetDB
Library/SourceAssetDB
Logs/AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Library/ArtifactDB
Library/SourceAssetDB
Logs/AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
